body{
    max-width: 1920px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.img-logo{
    width: 97px;
    height: 27px;
}

.wrapper{
    padding-left: 150px;
    padding-right: 150px;
    max-width: 1620px;
    margin: 0 auto;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    display: flex;
}

.nav-list>li{
    list-style: none;
    padding: 5px;
    margin-left: 10px;
}

.nav-list>li>a{
    text-decoration: none;
    color: #272727;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
}