body{
    max-width: 1920px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.img-logo{
    width: 97px;
    height: 27px;
}

.wrapper{
    padding-left: 150px;
    padding-right: 150px;
    max-width: 1620px;
    margin: 0 auto;
    position: relative;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list{
    display: flex;
}

.nav-list>li{
    list-style: none;
    padding: 5px;
    margin-left: 10px;
}

.nav-list>li>a{
    text-decoration: none;
    color: #272727;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
}

.main{
    background-image: url(../image/head-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 175px;

}

.wrapper-item {
    display: flex;
}

.header-title{
    font-family: 'Libre Baskerville', serif;
    color: #fff;
    font-weight: 400;
    font-size: 60px;
    line-height: 85px;
}

.btn-header{ 
    border-radius: 25px;
    background-color: #fc5f45;
    padding: 19px 41px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 83px;
}

.header-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 110px;
    margin-bottom: 176px;
}

.header-item:last-child{
    margin-right: 0;
}

.header-text {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.ht-1 {
    color: #feb960;
}

.ht-2{
    color: #b27cf5;
}

.ht-3{
    color: #38c695;
}

.about{
    margin-top: 148px;
    
}



.about-content{
    width: 492px;
    height: 350px;
    border: 1px solid black;
    background-color: #fff;
    position: absolute;
    top: 70px;
    right: 450px;
    padding: 100px 80px;
    z-index: 1;
}

.about-title{
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
    font-size: 50px;
}

.about-text{
    color: #969696;
    font-size: 15px;
    margin-bottom: 50px;
}